---
import Hero from "../components/sections/Hero.astro";
import "../styles/global.css";
import "tailwindcss";
import Divider from "./ui/Divider.astro";
import About from "./sections/About.astro";
import Experience from "./sections/Experience.astro";
import Projects from "./sections/Projects.astro";
import ProjectFilterTabs from "./ui/ProjectFilterTabs.astro";
import Skills from "./sections/Skills.astro";
import Contact from "./sections/Contact.astro";
---

<div id="container">
  <main>
    <Hero />

    <div class="pb-[120px] text-center">
      <p class="gradient-text text-md font-semibold">PROFILE</p>
      <Divider>
        <p class="text-white text-xl font-bold">Get to Khow Me</p></Divider
      >
    </div>

    <About />

    <div class="pt-[140px] text-center pb-[120px]">
      <Divider>
        <p class="text-white text-xl font-bold">My journey report</p>
      </Divider>
      <p class="text-secondary-5 text-sm max-w-150 text-center mx-auto pt-6">
        I've worked across different environments — from leading the development
        of a mobile application in a startup to building my own SaaS product and
        contributing to enterprise digital platforms. Here's a timeline of my
        journey.
      </p>
    </div>
    <Experience />

    <div class="pt-[140px] pb-[120px]">
      <Divider>
        <p class="text-white text-xl font-bold">
          A small selection of <span class="gradient-text">recent projects</span
          >
        </p></Divider
      >
    </div>
    <!-- <div class="pt-[80px] flex justify-center items-center w-full">

		<ProjectFilterTabs defaultTab="personal" />
	</div> -->

    <Projects />

    <div class="pt-[140px] pb-[120px] text-center">
      <p class="text-text-secondary font-semibold">TECH STACK</p>
      <Divider>
        <p class="text-white text-xl font-bold">
          My <span class="gradient-text">Skylls</span>
        </p></Divider
      >
    </div>

    <Skills />

    <div class="pt-[140px] text-center pb-[120px]">
      <Divider>
        <p class="text-white text-xl font-bold gradient-text">Get in Touch</p>
      </Divider>
      <p class="text-secondary-5 text-sm max-w-150 text-center mx-auto pt-6">
        Interested in working together? I'm open to full-time opportunities,
        collaborations and freelance projects.
      </p>
    </div>

    <Contact />
  </main>
</div>
